* {
  /* border: 1px solid red; */
  font-family: 'Press Start 2P', cursive;
  color: rgb(12, 22, 160);
  font-weight: bold;
}

.header {
  min-height: 250px;
}
 body {
   background-image: url('images/background.png');
   background-size: 100vw 100vh;
 }

.tile {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 20px;
  border: solid black 3px;
  border-radius: 15px;
  transition: all .2s ease-in-out;
}


.entire-game {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  display: inline-block;
}

.title {
  margin-left: 1.5%;
  display: inline-block;
}

.score {
  margin-left: 31%;
  display: inline-block;
}

.hi-score {
  margin-left: 28%;
  display: inline-block;
}

.startbtn {
  border: solid black 3px;
  border-radius: 15px;
  align-content: center;
  padding: 5px;
  transition: all .2s ease-in-out;
  background-color: rgba(94, 86, 85, 0.45);
}

.tile:hover,
.startbtn:hover {
  transform: scale(1.1); 
}

.tile-container {
  perspective: 1000px;
}

.tile {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 20px;
  border: solid black 3px;
  border-radius: 15px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.tile.flip {
  transform: rotateY(180deg);
}

.tile .front,
.tile .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
}

.tile .back {
  background-color: rgba(234, 197, 234, 0.35);
}

.tile .front {
  background-color: transparent;
  transform: rotateY(180deg);
  border: solid black 3px;
}

